<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlUO3t9IcV29JnWF4U7jFpP1WRTtAFUYU</string>
	<key>GCM_SENDER_ID</key>
	<string>519695686252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>myapp-6c3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-6c3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519695686252:ios:1ba474a657e956d068d649</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-6c3dd-default-rtdb.firebaseio.com</string>
</dict>
</plist>